body {
    font-family: calibri;
    background-color: rgb(190, 190, 190);
}

h5,
h4,
h3,
h2,
h1,
p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

section {
    margin-top: 2rem;
}

.container {
    background-color: pink;
}

.boxheader {
    border: 1px solid black;
    background-color: lightgray;
}

.center {
    display: flex;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

#orderheader {
    display: flex;
    justify-content: space-between;
    /* background-color: orange; */
}

.orderbox {
    /* border: 1px solid black; */
}

.borderless {
    border: none;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table,
td {
    border: 1px solid black;
}

.td-center {
    text-align: center;
}

.tablehalf {
    column-width: 500px;
}

#checkboxes {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.box {
    background-color: lightblue;
    display: inline-flex;
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid black;
    margin-right: 0.5rem;
}

.shiptotable,
.shiptotable tr td {
    border: none;
}

.smtablehalf {
    column-width: 200px;
}

.spacebetween {
    display: flex;
    justify-content: space-between;
}

.line {
    background-color: greenyellow;
}

#shipmentInformation {
    border-bottom: none;
}

#signature,
#date {
    border-top: 1px solid black;
}

#signhere {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

#signature {
    min-width: 30rem;
}

#date {
    min-width: 10rem;
}
#spacer {
    min-width: 5rem;
}

#formInvoice {
}

form.form-data {
    display: table;
}

div.form-data {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}
